<!doctype html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
<meta name='robots' content='noindex,follow' />

<style id='estilos' type='text/css'>
	body{
		font-family: Helvetica;
	}

	h1{
		text-align: center;
		display: block;
		text-transform: uppercase;
		margin-top:30px;
		font-size: 24px;
	}

	img{
		width: 700px;
		margin-left: 4px;
		margin-right: 4px;
	}

	nav {
		margin-top:10px;
		padding-top:20px;
		border-top: 1px dotted #ccc;
	}

	ul{
		text-align: center;
		list-style: none;
		padding:0;
	}

	ul li {
		display: inline-block;
	}

	ul li a{
		border:1px solid #ccc;
		padding:10px;
		text-decoration: none;
		color: black;
		background-color: #f3f3f3;
	}

	ul li a:hover{
		background-color: #a8e1f8;
	}

	section, div.footer{
		text-align: center;
		margin-top:40px;
	}
	hr{
		margin-top:40px;
		border:1px dotted #ccc;
	}
</style>

</head>

<body class="home-static">


<div id="page" class="">
	<header>
		<h1>
			Agencia de viajes Adriana
		</h1>
		<nav>
			<ul>
				<br>
				<br>
				<li><a href="iniciarSesion">Log in</a></li>
				<li><a href="registro">Registrarse</a></li>				
				<li><a href="listarVehiculos">Vehículos</a></li>
				<li><a href="listarVuelos">Vuelos</a></li>
				<li><a href="listarHoteles">Hoteles</a></li>
				<li><a href="listarPaquetes">Paquetes de viaje</a></li>
			</ul>

			<section>
				<img src="https://www.braintrust-cs.com/wp-content/uploads/2020/12/tourism-4438308_1280-1080x675.jpg" width=700 />
			</section>
		
		</nav>
	</header>
	
	<hr>
</div>


<div class="footer">
    <footer>
        <p>¿Quiénes somos?</p>
        <p>Contáctanos</p>
        <p>Términos y condiciones</p>
    </footer>
</div>


</body>
</html>
