<!doctype html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
<meta name='robots' content='noindex,follow' />

<style id='estilos' type='text/css'>
	body{
		font-family: Helvetica;
	}

	h1{
		text-align: center;
		display: block;
		text-transform: uppercase;
		margin-top:30px;
		font-size: 24px;
	}

	nav {
		margin-top:10px;
		padding-top:20px;
		border-top: 1px dotted #ccc;
	}

	ul{
		text-align: center;
		list-style: none;
		padding:0;
	}

	ul li {
		display: inline-block;
	}

	ul li a{
		border:1px solid #ccc;
		padding:10px;
		text-decoration: none;
		color: black;
		background-color: #f3f3f3;
	}

	ul li a:hover{
		background-color: #a8e1f8;
	}

	section, div.flags{
		text-align: center;
		margin-top:40px;
	}
	hr{
		margin-top:40px;
		border:1px dotted #ccc;
	}

	div.flags img{
		width: 25px;
		margin-left: 4px;
		margin-right: 4px;
	}

</style>

</head>

<body class="home-static">


<div id="page" class="">
	<header>
		<h1>Iniciar Sesion</h1>
		<nav>
			<ul>				
				<form action="/iniciarSesion" method="post">

					<br>

                    <label for="fname">Correo: </label>
                    <input type="text" id="2" name="correo"><br><br>

                    <label for="lname">Contraseña: </label>
					<input type="password" id="3" name="contrasena"><br><br>
                    
                    <br>
                     
					<input type="submit" value="Iniciar Sesión">
                </form> 
			</ul>
			
		</nav>
	</header>

	<div class="flags">
		<img src="https://www.sitographics.com/enciclog/banderas/europa/image_2012/Italia.gif" width=20/>
		<img src="https://media.istockphoto.com/videos/spanish-flag-of-spain-isolated-alpha-channel-and-luma-matte-video-id1201398224?s=640x640" width=20/>
		<img src="https://image.freepik.com/vector-gratis/ilustracion-bandera-portugal_53876-18170.jpg" width=20/>
		<img src="https://img2.freepng.es/20180326/gre/kisspng-england-flag-of-the-united-kingdom-flag-of-great-b-england-5ab872a144d506.7267652915220374092819.jpg" width=20/>
		<img src="https://carlosduclosb.files.wordpress.com/2010/11/francia_bandera.jpg?w=434" width=20/>
	</div>

	<hr>
</div>

</body>
</html>
