<!doctype html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
<meta name='robots' content='noindex,follow' />

<style id='estilos' type='text/css'>
	body{
		font-family: Helvetica;
	}

	h1{
		text-align: center;
		display: block;
		text-transform: uppercase;
		margin-top:30px;
		font-size: 24px;
	}

	nav {
		margin-top:10px;
		padding-top:20px;
		border-top: 1px dotted #ccc;
	}

	ul{
		text-align: center;
		list-style: none;
		padding:0;
	}

	ul li {
		display: inline-block;
	}

	ul li a{
		border:1px solid #ccc;
		padding:10px;
		text-decoration: none;
		color: black;
		background-color: #f3f3f3;
	}

	ul li a:hover{
		background-color: #a8e1f8;
	}

	section, div.flags{
		text-align: center;
		margin-top:40px;
	}
	hr{
		margin-top:40px;
		border:1px dotted #ccc;
	}

	div.flags img{
		width: 25px;
		margin-left: 4px;
		margin-right: 4px;
	}

</style>

</head>

<body class="home-static">


<div id="page" class="">
	<header>
		<h1>Agencia de viajes UA</h1>
		<nav>
			<ul>				
				<form action="/registro" method="post">

					<br>

                    <label for="fname">Nombre: </label>
                    <input type="text" id="1" name="nombre"><br><br>

                    <label for="correo">Correo: </label>
                    <input type="text" id="2" name="correo"><br><br>

                    <label for="contrasena">Contraseña: </label>
                    <input type="password" id="3" name="contrasena"><br><br>
                    
                    <label for="contrasenaR">Repetir contraseña: </label>
                    <input type="password" id="4" name="contrasenaR"><br><br>
                    
                    <br>
					
                    <button type="submit">Registro</button>
                </form> 
			</ul>
			
		</nav>
	</header>


	<hr>
</div>

</body>
</html>
