<!DOCTYPE html>
<html>
<title>Selección de vuelos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Selección de vuelos</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">

    <form action="/listarVuelos" method="GET"> 
      <select class="w3-select w3-hover-opacity" name="pais" id="pais">
        <option value="Marruecos">Marruecos</option>
        <option value="Portugal">Portugal</option>
        <option value="Italia">Italia</option>
      </select>

      <input class="w3-button w3-hover-black" type="submit" value="Filtrar">
      <a href="/listarVuelos" class="w3-button w3-hover-black">Atrás</a>
      <a href="/index" class="w3-button w3-hover-black">Inicio</a>
    </form>
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <% if (vu.length > 0) { %>
      <% for(var i = 0; i < vu.length; i++) { %>

        <div class="w3-third w3-container w3-margin-bottom">
          <img src="<%= vu[i].imagen %>" alt="Norway" style="width:100%;" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <br>
            <li> <%= vu[i].compania %> </li>
            <ol>
              Pais: <%= vu[i].pais %> <br>
              Precio: <%= vu[i].precio %> <br>
          </ol>
          </div>
        </div>
    <% } } %>
  </div>
  

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

<!-- End page content -->
</div>


</body>
</html>
